<h1> Dice Roll </h1>

<form action= "/process_roll">
<label forHow many dice?
<input type="text" name="dice">

<label>How many sides?</label>
<input type="text" name="sides">

<button>Go</button>

</form>
